    <!-- Full Page Image Header Area -->
	<div style="padding-top:5px;padding-left:10px;">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Call for Taxi +973 3987-7322 or visit" data-size="large" data-related="bahrain tax"></a>
					
		<!-- Place this tag where you want the share button to render. -->
		<div class="g-plus" data-action="share" data-annotation="none" data-height="28" data-href="http://www.bahraincab.com"></div>
		<!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div> -->
	</div>	
    <!-- /Full Page Image Header Area -->

